@font-face {
  font-family: Garamond;
  src: url("../assets/EB_Garamond/EBGaramond-VariableFont_wght.ttf")
    format("truetype");
}
* {
  font-family: Garamond;
}
body {
  background-color: #fefae0;
  height: 844px;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 390px;
}
.h2List{
  color: #283618;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
}
.h1Logo,
.h1LogoLists {
  color: #283618;
  font-size: 44px;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
}
.h1LogoLists {
  margin-top: 25px;
}
.inputUsername {
  width: 225px;
  height: 49px;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.loginBtn,
.createListBtn {
  width: 200px;
  height: 59px;
  background-color: #606c38;
  color: #fefae0;
  font-size: 28px;
  margin-top: 4vh;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.errorLogin{
  color: red;
}
.createListBtn {
  width: 270px;
  margin-top: 1vh;
  border: none;
}
.createAccountBtn {
  width: 262px;
  height: 59px;
  background-color: #606c38;
  color: #fefae0;
  font-size: 24px;
  margin-top: 4vh;
  border: none;
}
.signUpBtn {
  font-size: 24px;
  color: black;
  text-decoration: none;
  margin: 2vh;
  cursor: pointer;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9vh;
}

/*  Lists   */
.itemBox{
  font-size: 22px;
  text-decoration: none;
  color: #283618;
  background-color: #fefae0;
  width: 270px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 0;
}
.checkedItemBox{
  font-size: 22px;
  text-decoration: none;
  color: #283618;
  background-color: #606c3842;
  text-decoration: line-through;
  width: 270px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 0;
}
.listBox,
.listItemsBox {
  width: 320px;
  height: 595px;
  border-radius: 12px;
  background-color: #efddc8;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.listBox a,
.listItemsBox a {
  font-size: 28px;
  text-decoration: none;
  color: #283618;
  background-color: #fefae0;
  width: 270px;
  height: 58px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin-top: 23px;
}
.listItemsBox a {
  text-transform: capitalize;
  font-size: 24px;
}
.createAccountBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


/*  Add list  */

.addListBox{
  width: 300px;
  height: 244px;
  position: absolute;
  top: 200px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #efddc8;
  border: #283618 solid 4px;
}
.addListBtn{
  width: 200px;
  height: 59px;
  background-color: #606c38;
  color: #fefae0;
  font-size: 28px;
  margin-top: 4vh;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.addListName{
  width: 225px;
  height: 49px;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: none;
}

/*  CloseBTN  */
.bi-x-square{
  position:absolute;
  margin-left: 30vh;
  margin-bottom: 22vh;
  cursor: pointer;
}
